/* ---------------------------


FONT 


--------------------------- */

@font-face {
	font-family: 'Conv_DrukTextWide-BoldItalic_0';
	src: url('fonts/DrukTextWide-BoldItalic_0.eot');
	src: local('☺'), url('fonts/DrukTextWide-BoldItalic_0.woff') format('woff'), url('fonts/DrukTextWide-BoldItalic_0.ttf') format('truetype'), url('fonts/DrukTextWide-BoldItalic_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_DrukTextWide-SuperItalic_0';
	src: url('fonts/DrukTextWide-SuperItalic_0.eot');
	src: local('☺'), url('fonts/DrukTextWide-SuperItalic_0.woff') format('woff'), url('fonts/DrukTextWide-SuperItalic_0.ttf') format('truetype'), url('fonts/DrukTextWide-SuperItalic_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_DrukTextWide-Super_0';
	src: url('fonts/DrukTextWide-Super_0.eot');
	src: local('☺'), url('fonts/DrukTextWide-Super_0.woff') format('woff'), url('fonts/DrukTextWide-Super_0.ttf') format('truetype'), url('fonts/DrukTextWide-Super_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Roboto-Light';
	src: url('fonts/Roboto-Light.eot');
	src: local('☺'), url('fonts/Roboto-Light.woff') format('woff'), url('fonts/Roboto-Light.ttf') format('truetype'), url('fonts/Roboto-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ---------------------------


ALL


--------------------------- */
html{
	  scroll-behavior: smooth;
}

* {
	padding: 0px;
	margin: 0px;
	font-size: 1em;
	-webkit-transition: all 600ms cubic-bezier(0, .85, .29, .88);
	-moz-transition: all 600ms cubic-bezier(0, .85, .29, .88);
	-o-transition: all 600ms cubic-bezier(0, .85, .29, .88);
	-ms-transition: all 600ms cubic-bezier(0, .85, .29, .88);
	-webkit-touch-callout: none;
	-khtml-touch-callout: none;
	-moz-touch-callout: none;
	-ms-touch-callout: none;
	 touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	 user-select: none;
}

::-webkit-scrollbar {
	display: none;
}

::-ms-scrollbar {
	display: none;
}

::-o-scrollbar {
	display: none;
}

::-moz-scrollbar {
	display: none;
}

body {
	display: none;
	background-color: black;
	background-size: cover;
	background-position: center;
	-webkit-transition: all 0ms cubic-bezier(0, .85, .29, .88);
	-moz-transition: all 0ms cubic-bezier(0, .85, .29, .88);
	-o-transition: all 0ms cubic-bezier(0, .85, .29, .88);
	-ms-transition: all 0ms cubic-bezier(0, .85, .29, .88);
	user-select: none;
    overflow: hidden;
}

/* ---------------------------


UI


--------------------------- */

nav {
	text-align: center;
	font-family: 'Conv_DrukTextWide-BoldItalic_0';
}

nav ul li h1 {
	color: white;
	padding-top: 0.5vw;
	font-size: 0.8vw;
	margin: auto;
	padding-left: 2vw;
	text-align: left;
	width: 30%;
}

nav ul li h1 strong {
	color: yellow;
}

nav li img {
	width: 35vw;
	padding-top: 20vw;
}

nav ul+ul {
	position: absolute;
	left: 10vw;
	top: 20.5vw;
	list-style: none; 
	z-index: 20;
	text-align: right;
	font-size: 2em;
	line-height: 1.2em;
}

nav ul+ul li a, nav ul+ul li a:link, nav ul+ul li a:visited, nav ul+ul li a:active{
	color: white;
	text-decoration: none;
	opacity: 0.3;
	cursor:pointer;
}

nav ul+ul li a h2, nav ul+ul li a h2:link, nav ul+ul li a h2:visited, nav ul+ul li a h2:active{
	color: white;
	text-decoration: none;
	opacity: 0.3;
	cursor:pointer;
}

nav ul+ul li a:hover {
	opacity: 1;
}

nav ul+ul li a h2:hover {
	opacity: 1;
}

footer {
	width: 100%;
	margin: auto;
	position: absolute; 
	bottom:15px;
	text-align: center;
}

footer li h3 {
	color: white;
	font-size: 0.8vw;
	font-family: 'Conv_Roboto-Light';
	letter-spacing: 3px;
}

/* ----------------------------------


ANIM BACKGROUND 


__________________________________________________ */

.screen{
	position: absolute;
	width: 100vw;
	height: 100%;
	top:0;
	z-index: 15;
}

#container {
	position: absolute;
	left: 70%;
	top: 50%;
	user-select: none;
	z-index: 10;
}

#container2 {
	position: absolute;
	left: 71%;
	top: 52%;
	user-select: none;
	z-index: 10;
}

canvas {
	position: absolute;
}