 /* ---------------------------


ALL


--------------------------- */

 * {
 	padding: 0px;
 	margin: 0px;
 	font-size: 1em;
 	-webkit-transition: all 600ms cubic-bezier(0, .85, .29, .88);
 	-moz-transition: all 600ms cubic-bezier(0, .85, .29, .88);
 	-o-transition: all 600ms cubic-bezier(0, .85, .29, .88);
 	-ms-transition: all 600ms cubic-bezier(0, .85, .29, .88);
 	-webkit-touch-callout: none;
 	-webkit-user-select: none;
 	-khtml-user-select: none;
 	-moz-user-select: none;
 	-ms-user-select: none;
 	user-select: none;
 }

 ::-webkit-scrollbar {
 	display: none;
 }

 ::-ms-scrollbar {
 	display: none;
 }

 ::-o-scrollbar {
 	display: none;
 }

 ::-moz-scrollbar {
 	display: none;
 }

 *:after,
 *:before {
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	-ms-box-sizing: border-box;
 	-o-box-sizing: border-box;
 }

 body {
 	display: none;
 	background-image: url(../assets/background.png);
 	background-size: cover;
 	background-position: center;
 	font-family: 'Raleway', sans-serif;
 	-webkit-transition: all 00ms cubic-bezier(0, .85, .29, .88);
 	-moz-transition: all 00ms cubic-bezier(0, .85, .29, .88);
 	-o-transition: all 00ms cubic-bezier(0, .85, .29, .88);
 	-ms-transition: all 00ms cubic-bezier(0, .85, .29, .88);
 }

 /* ---------------------------


LOGO


--------------------------- */

 nav {
 	text-align: center;
 }

 nav li p {
 	color: white;
 }

 nav li img {
 	width: 18vw;
 	padding-top: 3vw;
 }

 /* ---------------------------


SECTION ARTICLE


--------------------------- */

 section {
 	width: 100%;
 	text-align: center;
 }

 article {
 	display: inline-block;
 	width: 23vw;
 	height: 23vw;
 	margin: 0.75vw;
 	margin-top: 7vw;
 	background: #ffffff;
 	background-size: cover;
 	background-position: center;
 	border-radius: 5px;
 }

 /* ---------------------------


Twitter


--------------------------- */

 #twitter {
 	position: absolute;
 	right: 30px;
 	top: 30px;
 	width: 2.5vw;
 	opacity: 0.7;
 	padding: 10px;
	cursor: pointer;
 }

 #twitter:hover {
 	transform: rotate(-15deg);
 	opacity: 1;
 }

 /* ---------------------------


Button


--------------------------- */

 button {
 	margin-top: 2vw;
 	width: 100%;
 	text-align: center;
 	background: none;
 	border: none;
	 margin-bottom: 4vw;
 }

 button p {
 	cursor: pointer;
 	font-family: 'Raleway', sans-serif;
 	border: none;
 	display: inline-block;
 	text-align: center;
 	padding: 10px 20px;
 	background: white;
 	bottom: 20px;opacity: 0.8;
	 font-size: 1.3em;
 }
 button p:hover {
 	padding: 10px 30px;
	 opacity: 1;

 }