 /* ---------------------------


RESPONSIVE


--------------------------- */

 @media only screen and (min-width: 240px) and (min-height:320px) {
 	nav ul {
 		padding: 2vw;
 	}

 	nav .menu li {
 		font-size: 0.6em;
 		line-height: 1.2em;
 	}

 	.project {
 		height: 40vh;
 		max-height: 40vh;
 	}

 	.project section section {
 		max-width: 50%;
 		bottom: 6vw;
 	}

 	.project section section h2 {
 		margin-bottom: 5px;
 		font-size: 0.40em;
 	}

 	.project section section p {
 		font-size: 0.35em;
 		word-break: break-all;
 	}

 	.project section section p strong {
 		display: none;
 	}

 	.contener div {
 		font-size: 0.35em;
 	}

 	.contener div p {
 		padding: 5px;
 	}

 	.contener div + div {
 		right: 14vw;
 	}
 }

 @media only screen and (min-width: 240px) and (min-height:400px) {
 	.project {
 		height: 32vh;
 		max-height: 32vh;
 	}

 }

 @media only screen and (min-width: 320px) and (min-height:480px) {
 	.project {
 		height: 37vh;
 		max-height: 37vh;
 	}

 	.project section section {
 		max-width: 60%;
 		bottom: 4vw;
 	}

 	.project section section h2 {
 		margin-bottom: 5px;
 		font-size: 0.40em;
 	}

 	.project section section p {
 		font-size: 0.35em;
 		word-break: break-all;
 		hyphens: auto;
 	}

 	.contener div {
 		display: block;
 	}

 	.contener div p {
 		padding: 10px;
 	}

 	.contener div + div {
 		right: 16vw;
 	}
 }

 @media only screen and (min-width: 360px) and (min-height:640px) {

 	.project {
 		height: 31vh;
 		max-height: 31vh;
 	}

 	.project section section {
 		max-width: 65%;
 		bottom: 4vw;
 	}

 	.project section section h2 {
 		margin-bottom: 5px;
 		font-size: 0.40em;
 	}

 	.project section section p {
 		font-size: 0.40em;
 		word-break: normal;
 	}

 	.project section section p strong {
 		display: none;
 	}

 	.contener div + div {
 		right: 13vw;
 	}
 }

 @media only screen and (min-width: 480px) {
 	nav ul {
 		padding: 2vw;
 	}

 	nav .menu li {
 		font-size: 0.8em;
 		line-height: 1.2em;
 	}

 	.project {
 		height: 42vh;
 		height: 42vh;
 	}

 	.project section section {
 		max-width: 65%;
 		bottom: 3vw;
 	}

 	.project section section h2 {
 		margin-bottom: 5px;
 		font-size: 0.70em;
 	}

 	.project section section p {
 		font-size: 0.70em;
 		word-break: normal;
 	}

 	.project section section p strong {
 		display: none;
 	}

 	.contener div + div {
 		right: 13vw;
 	}

 	.contener div {
 		font-size: 0.7em;
 		display: block;
 	}

 	.contener div p {
 		padding: 10px;
 		padding-left: 20px;
 	}

 	.contener div + div {
 		right: 13vw;
 	}
 }

 @media only screen and (min-width: 720px) {
 	nav ul {
 		padding: 2vw;
 	}

 	.project {
 		height: 40vh;
 		max-height: 40vh;
 	}

 	.project section section {
 		max-width: 65%;
 		bottom: 2vw;
 	}

 	.project section section h2 {
 		margin-bottom: 5px;
 		font-size: 0.80em;
 	}

 	.project section section p {
 		font-size: 0.80em;
 		word-break: normal;
 	}

 	.project section section p strong {
 		display: block;
 	}

 	.contener div + div {
 		right: 10vw;
 	}
 }

 @media only screen and (min-width: 1024px) {
 	.project {
 		height: 80vh;
 		max-height: 80vh;
 	}

 	.project section section {
 		max-width: 65%;
 		bottom: 2vw;
 	}

 	.project section section h2 {
 		margin-bottom: 5px;
 		font-size: 0.80em;
 	}

 	.project section section p {
 		font-size: 0.80em;
 		word-break: normal;
 	}

 	.project section section p strong {
 		display: block;
 	}

 	.contener div + div {
 		right: 8vw;
 	}

 }

 @media only screen and (min-width: 1280px) {
 	nav .menu li {
 		font-size: 1.3em;
 		line-height: 1.2em;
 	}

 	.project {
 		height: 100vh;
 		max-height: 100vh;
 	}

 	.contener div + div {
 		right: 8vw;
 	}

 	.project section section {
 		max-width: 60%;
 		bottom: 2vw;
 	}

 	.project section section h2 {
 		margin-bottom: 5px;
 		font-size: 1em;
 		hyphens: auto;
 	}

 	.project section section p {
 		font-size: 1em;
 		hyphens: auto;
 	}


 	.contener div p {
 		padding: 18px;
 	}

 	.contener div {
 		font-size: 1em;
 	}

 }

 @media only screen and (min-width: 1600px) {
 	nav ul {
 		padding: 1vw;
 	}

 	nav .menu li {
 		font-size: 1.3em;
 		line-height: 1.2em;
 	}

 	.project {
 		height: 100vh;
 	}

 	.project section section {
 		max-width: 45%;
 		bottom: 8vw;
 	}

 	.project section section h2 {
 		margin-bottom: 5px;
 		font-size: 0.80em;
 	}

 	.project section section p {
 		font-size: 0.80em;
 		word-break: normal;
 	}

 	.project section section p strong {
 		display: block;
 	}

 	.contener div + div {
 		right: 8vw;
 	}

 	.contener div {
 		font-size: 1em;
 	}

 	.contener div p {
 		padding: 18px;
 		padding-left: 25px;

 	}

 	.contener div + div {
 		right: 7vw;
 	}
 }

 @media only screen and (min-width: 1920px) {
 	.project {
 		height: 100vh;
 		overflow: hidden;
 	}

 	.project section {
 		padding: 2vw;
 		padding-bottom: 0vw;
 		position: relative;
 	}

 	.project section img {
 		max-width: 100%;
 	}

 	.project section section {
 		position: absolute;
 		color: white;
 		bottom: 3vw;
 		background: black;
 		margin-left: 2vw;
 		padding: 2vw;
 	}

 	.project section section h2 {
 		margin-bottom: 5px;
 		font-family: 'Conv_DrukTextWide-Super_0';
 		font-size: 1em;
 		hyphens: auto;
 	}

 	.project section section p {
 		font-family: 'Conv_DrukTextWide-BoldItalic_0';
 		font-size: 1em;
 		hyphens: auto;
 	}
 }