 /* ---------------------------


RESPONSIVE


--------------------------- */

 @media only screen and (min-width: 240px) and (min-height:320px) {
 	nav li img {
 		width: 45vw;
 		padding-top: 8vw;
 		padding-bottom: 8vw;
 	}

 	nav li + li p {
 		padding-bottom: 0.5vw;
 	}

 	nav li + li + li p {
 		padding-bottom: 6vw;
 	}

 	article {
 		width: 80vw;
 		height: 80vw;
 		margin: 0.1vw;
 		margin-top: 1vw;
 	}

 	#twitter {
 		right: 10px;
 		top: 20px;
 		width: 8.5vw;
 	}

 	#twitter img {
 		width: 8.5vw;
 	}

 	button {
 		margin-top: 5vw;

 	}
 }

 @media only screen and (min-width: 240px) and (min-height:400px) {}

 @media only screen and (min-width: 320px) and (min-height:480px) {}

 @media only screen and (min-width: 360px) and (min-height:640px) {}

 @media only screen and (min-width: 480px) {
 	nav li + li p {
 		padding-bottom: 0.5vw;
 	}

 	nav li + li + li p {
 		padding-bottom: 4vw;
 	}
 	nav li img {
 		padding-bottom: 1vw;
 	}
 }

 @media only screen and (min-width: 720px) { nav li img {
 		width: 30vw;
 		padding-top: 3vw;
 		padding-bottom: 1vw;
 	}

 	nav li + li p {
 		padding-bottom: 0.5vw;
 	}

 	article {
 		width: 34vw;
 		height: 34vw;
 		margin: 0.75vw;
 		margin-top: 0.4vw;
 	}

 	#twitter {
 		right: 70px;
 		top: 20px;
 		width: 0.5vw;
 	}

 	#twitter img {
 		width: 2.5vw;
 	}

 	button {
 		margin-top: 2vw;

 	}
}


 @media only screen and (min-width: 1024px) {
	  	nav li img {
 		width: 25vw;
 		padding-top: 5vw;
 		padding-bottom: 1vw;
 	}

 	nav li + li p {
 		padding-bottom: 0.5vw;
 	}

 	nav li + li + li p {
 		padding-bottom: 0vw;
 	}

 	article {
 		width: 22vw;
 		height: 22vw;
 		margin: 0.75vw;
 		margin-top: 8vw;
 	}

 	button {
 		margin-top: 4vw;

 	}
 
 }

 @media only screen and (min-width: 1280px) {

 }

 @media only screen and (min-width: 1600px) {
 	nav li img {
 		width: 18vw;
 		padding-top: 3vw;
 		padding-bottom: 0.5vw;
 	}

 	nav li p {
 		padding-bottom: 0vw;
 	}

 	article {
 		margin-top: 7vw;
 	}

 	button {
 		margin-top: 2vw;

 	}
 }

 @media only screen and (min-width: 1920px) { }